<h1
<% if @message.nil? or @message.include? "NOT" %>
class = "red">
<% else %>
class = "green">
<% end %>
<%= @message %>
</h1>
<%= form_tag("/grade_submission", method: "put") do %>
  <div id="top_container">
    <div id="users_and_control">
      <h1>Round Brilliant - Focus</h1>
      <%= label_tag(:user1_email, "User1 Email:") %>
      <input id="user1_email" name="user1_email" type="text" value=<%= @user1_email %>><br>
      <%= label_tag(:user2_email, "User2 Email:") %>
      <input id="user2_email" name="user2_email" type="text" value=<%= @user2_email %>><br>
      <%= label_tag(:stone_control_number, "Control Number:") %>
      <input id="stone_control_number" name="stone_control_number" type="text" autofocus="true" onkeypress="return event.keyCode != 13;"><br>
    </div>
    <div id="status_container">
      <div id="green_check" class = "no_display">
        <%= image_tag("green_check.png", :alt => "Green Check", height: '150') %>
      </div>
      <div id="red_x" class = "no_display">
        <%= image_tag("red_x.png", :alt => "Red X", height: '150') %>
      </div>
    </div>
  </div>
  <h2>Clarity Grade</h2>
  <fieldset id="clarity_grade_set" class="no_border">
    <input type="checkbox" class="hidden" name="fl" id="fl">
    <label for="fl" class="noselect one_word tile_spacing">FL</label>
    <input type="checkbox" class="hidden" name="if" id="if">
    <label for="if" class="noselect one_word tile_spacing">IF</label>
    <input type="checkbox" class="hidden" name="vvs1" id="vvs1">
    <label for="vvs1" class="noselect one_word tile_spacing">VVS1</label>
    <input type="checkbox" class="hidden" name="vvs2" id="vvs2">
    <label for="vvs2" class="noselect one_word tile_spacing">VVS2</label>
    <input type="checkbox" class="hidden" name="vs1" id="vs1">
    <label for="vs1" class="noselect one_word tile_spacing">VS1</label>
    <input type="checkbox" class="hidden" name="vs2" id="vs2">
    <label for="vs2" class="noselect one_word tile_spacing">VS2</label>
    <input type="checkbox" class="hidden" name="si1" id="si1">
    <label for="si1" class="noselect one_word tile_spacing">SI1</label>
    <input type="checkbox" class="hidden" name="si2" id="si2">
    <label for="si2" class="noselect one_word tile_spacing">SI2</label>
    <input type="checkbox" class="hidden" name="i1" id="i1">
    <label for="i1" class="noselect one_word tile_spacing">I1</label>
    <input type="checkbox" class="hidden" name="i2" id="i2">
    <label for="i2" class="noselect one_word tile_spacing">I2</label>
    <input type="checkbox" class="hidden" name="i3" id="i3">
    <label for="i3" class="noselect one_word">I3</label>
  </fieldset>
  <div id="bottom_container">
	<div id="symmetry_container">
      <div id="symmetry_given_container">
        <h2>Symmetry Given</h2>
        <fieldset id="symmetry_given_set" class="no_border">
          <input type="checkbox" class="hidden" name="symmetry_given_excellent" id="symmetry_given_excellent">
          <label for="symmetry_given_excellent" class="noselect one_word tile_spacing">Excellent</label>
          <input type="checkbox" class="hidden" name="symmetry_given_very_good" id="symmetry_given_very_good">
          <label for="symmetry_given_very_good" class="noselect two_words tile_spacing">Very Good</label>
          <input type="checkbox" class="hidden" name="symmetry_given_good" id="symmetry_given_good">
          <label for="symmetry_given_good" class="noselect one_word tile_spacing">Good</label>
          <input type="checkbox" class="hidden" name="symmetry_given_fair" id="symmetry_given_fair">
          <label for="symmetry_given_fair" class="noselect one_word tile_spacing">Fair</label>
          <input type="checkbox" class="hidden" name="symmetry_given_poor" id="symmetry_given_poor">
          <label for="symmetry_given_poor" class="noselect one_word">Poor</label>
        </fieldset>
      </div>
	  <div id="symmetry_validation_container">
        <h2>Symmetry Validation</h2>
        <fieldset id="symmetry_validation_set" class="no_border">
          <input type="checkbox" class="hidden" name="symmetry_validation_excellent" id="symmetry_validation_excellent">
          <label for="symmetry_validation_excellent" class="noselect one_word tile_spacing">Excellent</label>
          <input type="checkbox" class="hidden" name="symmetry_validation_very_good" id="symmetry_validation_very_good">
          <label for="symmetry_validation_very_good" class="noselect two_words tile_spacing">Very Good</label>
          <input type="checkbox" class="hidden" name="symmetry_validation_good" id="symmetry_validation_good">
          <label for="symmetry_validation_good" class="noselect one_word tile_spacing">Good</label>
          <input type="checkbox" class="hidden" name="symmetry_validation_fair" id="symmetry_validation_fair">
          <label for="symmetry_validation_fair" class="noselect one_word tile_spacing">Fair</label>
          <input type="checkbox" class="hidden" name="symmetry_validation_poor" id="symmetry_validation_poor">
          <label for="symmetry_validation_poor" class="noselect one_word">Poor</label>
        </fieldset>
      </div>
	</div>
	<div id="bottom_right_container">
	  <div id="polish_container">
        <h2>Polish Grade</h2>
        <fieldset id="polish_grade_set" class="no_border">
          <input type="checkbox" class="hidden" name="polish_excellent" id="polish_excellent">
          <label for="polish_excellent" class="noselect one_word tile_spacing">Excellent</label>
          <input type="checkbox" class="hidden" name="polish_very_good" id="polish_very_good">
          <label for="polish_very_good" class="noselect two_words tile_spacing">Very Good</label>
          <input type="checkbox" class="hidden" name="polish_good" id="polish_good">
          <label for="polish_good" class="noselect one_word tile_spacing">Good</label>
          <input type="checkbox" class="hidden" name="polish_fair" id="polish_fair">
          <label for="polish_fair" class="noselect one_word tile_spacing">Fair</label>
          <input type="checkbox" class="hidden" name="polish_poor" id="polish_poor">
          <label for="polish_poor" class="noselect one_word">Poor</label>
        </fieldset>
      </div>
	  <div id="submit_container">
        <%= submit_tag("Submit") %>
      </div>
	</div>
  </div>
<% end %>